<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resolved Complaints</h1>
    <% if (successComp.length == 0){ %>
        <h3>There were no complaints </h3>
        <% }else{ %>
            <% successComp.forEach(function(comp){ %>
                <%= comp._id %> <br><br>
                <%= comp.complaint_statement %> <br><br>
                <%= comp.complaint_status %> <br><br>
                <h4>Customer Name : </h4><%= comp.user_id.fullname %> <br><br>
                <h4>Contact Number : <%= comp.user_id.contact %></h4> <br><br>
                <h5>-------------------------------------</h5>
                <% }) %>
                <% } %>
                
</body>
</html>